.header-border {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid black;
}

.header-border ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.header-border ul li {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    padding: 20px 20px;
}

.header-border ul li a {
    text-decoration: none;
    color: black;
}

.header-user-name {
    border: 1px solid black;
    border-radius: 10px;
}

.active {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.header-border ul li a:hover {
    color: blue;
}

.auth_block {
    width: 500px;
    height: 400px;
    margin: 5% auto;
    border: 1px solid black;
}

.auth_block_head {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.auth_block label {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

.auth_input {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 45px;
    border: 2px solid darkgray;
    border-radius: 10px;
    outline: none;
}

.danger {
    border-color: rgba(255, 0, 0, 0.72) !important;
}

.auth_input:focus {
    border-radius: 10px;
    border: 2px solid blue;
}

.auth_button {
    display: block;
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 30px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.auth_button:hover {
    border: 2px solid blue;
}

main {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

.main_form {
    display: block;
    padding: 5% 7%;
    font-weight: normal;
}

.main_form button {
    display: block;
    padding: 2%;
}

.main_form button:hover {
    border-color: blue;
}

.main_form div {
    display: block;
    padding-bottom: 5%;
}

.input_access_token {
    margin-left: 8.5%;
    padding: 5px;
    outline: none;
}

.input_access_token:focus {
    border: 2px solid blue;
}

.input_is_transfer_prices {
    margin-left: 3.5%;
}

.main_table {
    padding-top: 2%;
}

.table_data_output {
    display: block;
    font-weight: normal;
    border-collapse: collapse;
    width: 780px;
    height: 400px;
    margin: 2px;
}

.table_data_output th, .table_data_output td {
    border: 1px solid grey;
    width: 680px;
    padding: 10px;
}

.table_data_output td {
    text-align: left;
}

.add_new_user_button {
    display: block;
    margin: 3%;
    font-weight: normal;
    border-radius: 15px;
    border-color: gray;
    cursor: pointer;
    width: 15%;
    padding: 2%;
}

.add_new_user_button:hover {
    border: 2px solid blue;
}

.fa-trash {
    margin-left: 45%;
}

.fa-trash:hover {
    color: blue;
}

.create_user_block {
    width: 500px;
    height: 550px;
    margin: 5% auto;
    border: 1px solid black;
}

.create_user_block label {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

.create_user_button {
    width: 35%;
    border-radius: 30px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.create_user_button:hover {
    border: 2px solid blue;
}

.create_user_button_block {
    display: block;
    margin-left: 22%;
    margin-top: 5%;
}

.error_404 {
    display: flex;
    flex-direction: column;
    font-family: "Book Antiqua";
    margin: 0 auto;
    text-align: center;
    font-size: xxx-large;
}

.error_404 img {
    padding-left: 45%;
}

.flash_message_error {
    width: 500px;
    font-size: larger;
    text-align: center;
    background-color: lightcoral;
    margin-left: 31%;
}

.flash_message_success {
    width: 500px;
    font-size: larger;
    text-align: center;
    background-color: lightgreen;
    margin-left: 31%;
}

.exit_button {
    margin: 96%;
    padding-bottom: 0px;
    font-size: x-large;
}

.delete_button {
    border: none;
    background-color: white;
    font-size: large;
    padding-left: 38%;
}

.auth_style label:after {
    content: '*';
    color: red;
    padding-left: 2px;
}

.p_error {
    list-style-type: none;
    text-align: center;
    margin: 5%;
}

.isAdmin {
    text-align: center !important;
    font-size: large;
    font-weight: bold;
}

.stocks_list {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
}

.stocks_list select {
    padding: 3px;
    margin-bottom: 5px;
}

.stocks_list button {
    padding: 3px;
}

.stocks_list button:hover {
    border-color: blue;
}

.load_file_button {
    margin-top: 3%;
    font-weight: normal;
    border-color: gray;
    cursor: pointer;
    width: 20%;
}

.load_file_button:hover {
    border: 2px solid blue;
}

.load_file input {
    border: 2px solid gainsboro;
    width: 500px;
}

.load_file {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.download_file {
    margin: 3%;
}
